<nav class="navbar navbar-expand-lg navbar-transparent" [ngStyle]="isNotHome() ? { position: 'static' } : { position: 'absolute' }">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img
        src="../../../assets/images/museu_logo2.png"
        alt="Museum Logo"
        height="70px"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/gallery">Galeria</a>
        </li>
        <li
          class="nav-item"
          [ngStyle]="{ display: hidenLogin ? 'block' : 'none' }"
        >
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li
          class="nav-item"
          [ngStyle]="{ display: hidenLogin ? 'block' : 'none' }"
        >
          <a class="nav-link" routerLink="/registo">Registar</a>
        </li>
        <li
          class="nav-item"
          [ngStyle]="{ display: hidenLogin ? 'none' : 'block' }"
        >
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
