.navbar {
  box-shadow: none;
  position: absolute;
  width: 100%;
  z-index: 2;
  color: #1a1a1a;

  .navbar-brand img {
    margin-left: 10px;
    height: 70px;
    transition: transform 0.3s ease;
  }

  .navbar-brand img:hover {
    transform: scale(1.1);
  }

  .navbar-nav .nav-link {
    font-size: 1.1em;
    transition: color 0.3s ease;
    color: #ffffff;
    cursor: pointer;
  }
}

.navbar-toggler {
  border-color: transparent;
  .navbar-toggler-icon {
    background-color: #333;
  }
}
