<section class="gallery">
  <div class="wrapper">
    <div class="museum-image">
      <img src="{{ museum.images[0] }}" alt="Imagem" />
    </div>
    <button
      class="btn-open-gallery"
      [routerLink]="['/pieces-catalog/' + museum.key]"
    >
      Galeria
    </button>
  </div>
</section>
<section class="museum-history">
  <div class="wrapper">
    <h2>História do Museu</h2>
    <div id="history">
      <p id="history-text">{{ museum.history_pt }}</p>
      <button class="btn-speak" (click)="toggleSpeak()">Ouvir Texto</button>
      <button class="btn-lang" id="languageButton" (click)="changeLanguage()">
        Switch to English
      </button>
    </div>
  </div>
</section>
<br />
<section class="evaluations">
  <div class="wrapper">
    <h3>Avaliações</h3>
    <div class="eval-cards">
      <div class="eval-card" *ngFor="let evaluation of evaluations">
        <p><b>Utilizador:</b> {{ evaluation.userName }}</p>
        <p><b>Descriçao:</b> {{ evaluation.description }}</p>
        <p><b>Avaliação:</b> {{ evaluation.rating }} /10 &#11088;</p>
      </div>
    </div>
  </div>
  <section class="evaluations">
    <div class="wrapper">
      <h3>Eventos</h3>
      <div class="eval-cards">
        <div class="eval-card" *ngFor="let ev of events">
          <p> Descriçao: {{ ev.description }} </p>
          <p> Horario: {{ ev.schedule }}</p>
        </div>
      </div>
    </div>
</section>
