<section class="gallery">
  <div class="wrapper">
    <div class="museum-image">
      <img src="{{ museum.images[0] }}" alt="Imagem" />
    </div>
    <button
      class="btn-open-gallery"
      [routerLink]="['/pieces-catalog/' + museum.key]"
    >
      Galeria
    </button>
  </div>
</section>
<section class="museum-history">
  <div class="wrapper">
    <h2>História do Museu</h2>
    <div id="museum-history-text">
      <p>{{ museum.history_pt }}</p>
      <button class="btn-speak" (click)="toggleSpeak()">Ouvir Texto</button>
    </div>
  </div>
</section>
<br />
<section class="evaluations">
  <div class="wrapper">
    <h3>Avaliações</h3>
    <div class="eval-cards">
      <div class="eval-card" *ngFor="let evaluation of evaluations">
        <p>{{ evaluation.description }}</p>
      </div>
    </div>
  </div>
</section>
