<div class="cards">
  <div class="card" *ngFor="let museum of museums">
    <h4>{{ museum.name }}</h4>
    <img [src]="museum.images[0]" alt="" />
    <button class="btn-open-museum">
      <a href="#">Abrir Museu</a>
    </button>
  </div>
</div>

<!-- @if(this.museums){
<div class="museum-container" *ngFor="let museum of museums">
  <h2>{{ museum.name }}</h2>
  <div class="museum-images">
    <div class="museum-image" *ngFor="let image of museum.images">
      <img [src]="image" alt="image" />
    </div>
  </div>
</div>
<section class="history">
  <h3>História</h3>
  <p id="text-history">
    Historia --
  </p>
  <button class="btn-speak" (click)="toggleSpeak()">Ouvir Texto</button>
</section>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d778.4809079969029!2d-9.199090430349965!3d38.6965984449243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd1ecb456222654f%3A0x1b76d724a27a8bd!2sMuseu%20Nacional%20dos%20Coches!5e0!3m2!1spt-PT!2spt!4v1717990535382!5m2!1spt-PT!2spt"
  width="600"
  height="450"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe>
} -->
