<section>
  <div class="register">
    <div class="register-container">
      <div class="register-top">
        <h2 class="fw-bold text-uppercase">Registo</h2>
        <p>Por favor insira os seus dados</p>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
        <div class="form-group">
          <input
            type="text"
            id="username"
            class="form-control"
            placeholder="Username"
            formControlName="username"
            [class.invalid]="isFieldInvalid('username')"
          />
          <div *ngIf="isFieldInvalid('username')" class="error-message">
            Username inválido.
          </div>
        </div>
        <div class="form-group">
          <input
            type="email"
            id="email"
            class="form-control"
            placeholder="Email"
            formControlName="email"
            [class.invalid]="isFieldInvalid('email')"
          />
          <div *ngIf="isFieldInvalid('email')" class="error-message">
            Email inválido.
          </div>
        </div>
        <div class="form-group">
          <input
            type="password"
            id="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
            [class.invalid]="isFieldInvalid('password')"
          />
          <div *ngIf="isFieldInvalid('password')" class="error-message">
            Password inválida.
          </div>
        </div>
        <div class="form-group">
          <input
            type="password"
            id="confirmPassword"
            class="form-control"
            placeholder="Confirmar Password"
            formControlName="confirmPassword"
            [class.invalid]="isFieldInvalid('confirmPassword')"
          />
          <div *ngIf="isFieldInvalid('confirmPassword')" class="error-message">
            Passwords não são iguais.
          </div>
        </div>
        <button
          class="btn btn-outline-light btn-lg px-5"
          type="submit"
          [disabled]="registerForm.invalid"
        >
          Sign Up
        </button>
      </form>
      <div>
        <p class="login-option">
          Já tem conta?
          <a routerLink="/login">Faça login</a>
        </p>
      </div>
    </div>
  </div>
</section>
